@model User

<h2>LOGIN</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <label asp-for="Parola"></label>
        <input asp-for="Parola" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>